body{
	background-color: #4dd0e1;
	font-family: Arial, Helvetica, sans-serf;
	line-height: 1.6em;
}

.heading{
	background-color: yellow;
	color: white;
	padding: 40px;
	text-align: center;
}
.para{
	background-color: #c3d754;
	text-align: left;

}